stacklayout > label{
    color: black;
}

stacklayout > entry{
    border-radius: inherit;
    border-width: thin;
}

.titleLabelStyle {
    color: orange;
    text-align: center;
}


stacklayout{
    background-color: whitesmoke;
}